.home-container {
  margin-top: 6%;
}
.stories-main {
  display: grid;
  width: 90%;
  margin: auto;
  margin-top: 2%;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.stories-main > div > .image {
  padding: 2%;
  border-bottom: 1px solid black;
}
.stories-main > div > div > img {
  width: 100%;
}

.title-main {
  padding: 2%;
  text-align: left;
}

.title-main > div:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
}

.stories-main > div {
  border: 1px solid black;
  border-radius: 15px;
}
.time-by-main {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.time {
  font-size: 17px;
}
.stories-main > div:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.title-main > div:nth-child(1):hover,
time:hover {
  color: blue;
}

@media screen and (max-width: 768px) {
  .stories-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .home-container {
    margin-top: 12%;
  }
}
@media screen and (max-width: 415px) {
  .stories-main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .home-container {
    margin-top: 20%;
  }
}
