.main-container {
  width: 85%;
  margin: auto;
  margin-top: 4%;
}
.paan-img {
  width: 100%;
}
.category-main-img {
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: repeat(5, 1fr);
}
.table {
  text-align: center;
  width: 100%;
  border: 1px solid #75e6da;
}
.container {
  width: 90%;
  margin: auto;
  /* margin-top: 5%; */
  padding: 5%;
  border: 8px solid black;
  text-align: center;
}
th,
td {
  font-size: 20px;
  border: 1px solid #75e6da;
}

.term-head {
  display: flex;
  width: 100%;
  margin: auto;
  line-height: 50px;
  justify-content: space-between;
}
.term-head select,
span > button {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #75e6da;
  font-weight: bold;
}

.term-head select:hover,
.term-head span > button:hover {
  border: 1px solid #75e6da;
  background-color: white;
  cursor: pointer;
  background-color: #75e6da;
}
.term-head > div:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
}
.main-chart {
  width: 55%;
  margin: auto;
}
@media only screen and (max-width: 1024px) {
  .main-container {
    margin-top: 15%;
  }
}
@media only screen and (max-width: 415px) {
  .main-container {
    margin-top: 15%;
  }
  .main-chart {
    width: 100%;
  }
  .term-head select {
    width: 25%;
    padding: 0;
  }
  .term-head,
  .term-head > div:nth-child(1) {
    font-size: 12px;
  }
  th,
  td {
    font-size: 12px;
  }
}
