.login-form {
  width: 25%;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  margin-top: 4%;
}

.login-form > input {
  width: 50%;
  padding: 10px;
  font-size: 20px;
}

.login-form > button {
  padding: 10px 40px;
  border-radius: 5px;
  border: 0;
  border: 1px solid grey;
  background-color: forestgreen;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.login-form > button:hover {
  border: 1px solid forestgreen;
  background-color: white;
  color: forestgreen;
  cursor: pointer;
}
