.login-form {
  width: 25%;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  margin-top: 4%;
}

.login-form > input {
  width: 50%;
  padding: 10px;
  font-size: 20px;
}

.login-form > button {
  padding: 10px 40px;
  border-radius: 5px;
  border: 0;
  border: 1px solid #75e6da;
  background-color: #75e6da;
  font-weight: bold;
  font-size: 18px;
}
.login-form > button:hover {
  border: 1px solid #75e6da;
  background-color: white;
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  .login-form {
    margin-top: 15%;
    width: 75%;
    font-size: 15px;
  }
  .login-form > input {
    font-size: 15px;
    padding: 5px;
    margin: 4%;
    width: 50%;
  }
}
